[data-theme="light"] {
    --primary-color: #212121;
    --primary-complementary-color: #e8e8e8;
    --secondary-color: #d3d3d3;
    --complementary-secondary-color: #2e2e2e;
}

[data-theme="dark"] {
    --primary-color: #e8e8e8;
    --primary-complementary-color: #212121;
    --secondary-color: #2e2e2e;
    --complementary-secondary-color: #d3d3d3;
}

@keyframes rotate-text {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes rotate-halo {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes scroll-marquee-left {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes scroll-marquee-right {
    to {
        transform: translateX(calc(100% + var(--gap)));
    }
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: color-mix(in srgb, var(--primary-color) 40%, var(--primary-complementary-color) 60%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

html,
body {
    color: var(--primary-color);
    background-color: var(--primary-complementary-color);
    font-family: "Roboto", serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-feature-settings: "liga" 0;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    scroll-behavior: smooth;
    height: 200vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    width: 4em;
    height: 80vh;
    border-radius: 0 20px 20px 0;
    background-color: color-mix(in srgb, var(--primary-color) 40%, var(--primary-complementary-color) 60%);
    transition: all .2s ease-in-out;
}

#theme-switch {
    display: none;

    &+label {
        position: relative;
        display: block;
        text-align: center;
        width: 2.5rem;
        height: 2.5rem;
        color: var(--primary-complementary-color);
        border-radius: 50%;
        background-color: var(--primary-color);
        transition: all .2s ease-in-out;
        overflow: hidden;
        cursor: pointer;

        &::before {
            content: "\2600";
            position: absolute;
            top: 44%;
            left: 50%;
            font-size: 2em;
            transform: translate(-50%, -50%);
            transition: all .3s ease-in-out;
        }

        &::after {
            content: "\262A";
            position: absolute;
            top: 100%;
            left: 100%;
            font-size: 2em;
            transform: translate(0, -50%);
            transition: all .3s ease-in-out;
        }

        &:hover {
            box-shadow: 0 0 0 .5em var(--secondary-color);
        }
    }

    &:checked+label {
        &::before {
            top: 100%;
            left: 0;
            transform: translate(-100%, -50%);
        }

        &::after {
            top: 44%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em;
}

#avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(12em, 30vw, 20em);
    aspect-ratio: 1 / 1;
    perspective: 1000px;

    &>div {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all .5s ease-in-out;
        z-index: 100;

        &>img,
        &>div {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border: .25em solid var(--complementary-secondary-color);
            border-radius: 50%;
            transition: all .2s ease-in-out;
        }

        &>div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 1em;
            color: var(--complementary-secondary-color);
            font-weight: 700;
            text-align: center;
            white-space: pre;
            background-color: var(--secondary-color);
            transform: rotateY(180deg);

            &>h3 {
                font-size: clamp(1rem, 2vw, 1.5rem);
                margin-bottom: .25rem;
            }

            &>ul>li {
                list-style-type: square;
                font-size: clamp(1rem, 2vw, 1.5rem);
            }
        }
    }

    &>svg {
        position: absolute;
        width: 120%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        animation: rotate-text 60s ease-in-out infinite;

        & text {
            fill: var(--complementary-secondary-color);
            font-weight: 900;
            letter-spacing: 0.1rem;
            transition: all .2s ease-in-out;
        }
    }
}


#introduce-title {
    position: relative;
    padding: 1.5em 2em;
    margin-block: 2.5em 1em;
    border-radius: 50px;
    color: var(--complementary-secondary-color);
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    transition: all .2s ease-in-out;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120%;
        height: 60%;
        background: linear-gradient(var(--primary-complementary-color), var(--complementary-secondary-color), var(--primary-complementary-color));
        transition: all 1s ease-in-out;
        animation: rotate-halo 10s linear infinite;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        border-radius: 50px;
        background-color: var(--primary-complementary-color);
        inset: .2rem;
        transition: all .2s ease-in-out;
        z-index: -1;
    }

    &>h2 {
        width: 100%;
        color: var(--complementary-secondary-color);
        border-right: .5rem solid var(--complementary-secondary-color);
        border-bottom: .2rem solid var(--complementary-secondary-color);
        letter-spacing: .2rem;
        white-space: nowrap;
        overflow: hidden;
        transition: all .2s ease-in-out;
        animation: typing 2s steps(15),
            cursor .5s step-end infinite alternate;
    }
}

.skill-marquee {
    display: flex;
    --gap: 1em;
    gap: var(--gap);
    margin-block: .5em;
    width: clamp(12em, 50vw, 35em);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
    overflow: hidden;

    &:hover>ul {
        animation-play-state: paused !important;
    }

    &>ul {
        list-style: none;
        display: flex;
        gap: var(--gap);
        flex-shrink: 0;
        justify-content: space-around;

        &>li {
            padding: .5rem 1rem;
            border: 2px solid slategray;
            border-radius: 50px;
            color: var(--primary-complementary-color);
            font-weight: 700;
            background-color: slategray;
            transition: all .2s ease-in-out;
            cursor: pointer;

            &:hover {
                color: slategray;
                background-color: var(--primary-complementary-color);
            }
        }
    }
}

#basic-skill-marquee>ul {
    animation: scroll-marquee-left 30s linear infinite;
}

#advanced-skill-marquee {
    justify-content: end;

    &>ul {
        animation: scroll-marquee-right 30s linear infinite;
    }
}